@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: true;
  color-scheme: "light";
  --color-base-100: oklch(15% 0.15 25);
  --color-base-200: oklch(12% 0.15 25);
  --color-base-300: oklch(10% 0.15 25);
  --color-base-content: oklch(98% 0.005 25);
  --color-primary: oklch(63% 0.237 25.331);
  --color-primary-content: oklch(98% 0.005 25);
  --color-secondary: oklch(35% 0.25 25);
  --color-secondary-content: oklch(98% 0.005 25);
  --color-accent: oklch(55% 0.25 25);
  --color-accent-content: oklch(98% 0.005 25);
  --color-neutral: oklch(25% 0.15 25);
  --color-neutral-content: oklch(98% 0.005 25);
  --color-info: oklch(60% 0.2 220);
  --color-info-content: oklch(98% 0.005 25);
  --color-success: oklch(60% 0.2 140);
  --color-success-content: oklch(98% 0.005 25);
  --color-warning: oklch(70% 0.2 60);
  --color-warning-content: oklch(98% 0.005 25);
  --color-error: oklch(45% 0.25 25);
  --color-error-content: oklch(98% 0.005 25);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0.5;
}




body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}